* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1/3;
  display: flex;
}

.logo{
  display: flex;
  text-align: right;
  margin-right: 200px;
}


.menu ul{
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 10px;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  grid-row: 2/4;
  display: grid;
  row-gap: 20px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  padding: 70px;
  
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding: 70px;
}

.nav {
  background-color: #FF7755;

}
.nav ul{
  display: flex;
  list-style: none;
  gap: 220px;
  margin-left: 15px;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;

}
.article div{
  display: grid;
}
.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
